header {
    background: #280872;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
}

.container {
    display: flex;
}

aside {
    flex: 20%;
    background: #222;
}

section.main {
    flex: 80%;
    background: #fff;
    min-height: 530px;
    padding: 15px 20px;
    flex-grow: 1;
}

footer {
    background: #ccc;
    color: #555;
    padding: 20px;
    text-align: center;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 1px dotted #444;
    list-style: none;
}

.menu a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background: #000;
}

.judul {
    color: #555;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
}

.table th {
    background: #eee;
}

.tombol {
    display: inline-block;
    max-width: 150px;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    background: #038ade;
    cursor: pointer;
    border-radius: 5px;
}

.tombol.edit,
.tombol.hapus {
    padding: 10px 15px;
    font-size: 12px;
}

.tombol.edit {
    background: #28a745;
}

.tombol.hapus {
    background: #fc4c4c;
}

.tombol:hover {
    opacity: 0.9;
}

.form-group {
    clear: both;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    float: left;
    width: 30%;
    padding: 10px 0;
    font-weight: bold;
}

.form-group .input {
    display: block;
    float: left;
    width: 50%;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.tombol.simpan {
    background: #038ade;
}

.tombol.reset {
    background: #fb8307;
}

@media (max-width: 700px) {
    .form-group label,
    .form-group .input {
        width: 100%;
        float: none;
    }
}